/*

CSS file that styles the fishing methods data visualization project

Name: Max Frings

Student number: 10544429

Course: Programmeerproject 2018/2019 (Semester 2)

Sources: https://www.clo.nl/indicatoren/nl0587-visserijtechnieken
https://www.clo.nl/indicatoren/nl1599-fauna-westerschelde
https://www.clo.nl/indicatoren/nl1598-fauna-oosterschelde
https://www.clo.nl/indicatoren/nl1597-fauna-wadden
https://www.clo.nl/indicatoren/nl1596-fauna-noordzee-kustzone
http://edepot.wur.nl/284011 (table 2.6)

This file is part of a data visualization project in which the impact of fishing
methods in the past 25 years on the fauna in different locations in the
North Sea is shown.

*/
h3 {
  text-align: center;
  padding-top: 1em;
  font-size: 1.5vw;
  color: white;
  line-height: 1.6;
}

html, body {
  background-color: #89cff0;
  scroll-behavior: smooth;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

path.domain {
  stroke: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 70, 255, 0.8);
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border-color: steelblue;
  box-shadow: 5px 5px 5px steelblue, 0px 0px 1px steelblue;
  background: #89cff0;
  opacity: 0.8;
}

#fishingmethodsStackedbars {
  width: 100%
}

#customRange1 {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0.9em;
  position: fixed;
  z-index: 1;
}

#showVal {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 0.5em;
  position: fixed;
}

.y .tick line {
  stroke: #ddd;
}

html, body {
  height: 100%;
}

.container {
  height: 60%;
  background-color: #89cff0
}

#text-total {
  height: 30%;
}

#text-change {
  height: 40%;
}

#text-methods {
  height: 40%;
}

#text-circular {
  height: 25%;
}

#specieschangeCircularbars {
  display: flex;
  position: absolute;
}

#specieschange {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#big-container {
  height: 75%;
}

#icons {
  height: 10%;
}

.row {
  height: 100%;
  width: 100%;
  text-align: center;
}

/* Style the lines by removing the fill and applying a stroke */
.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

#faunatotalLinechart {
  width: 100%;
  height: 100%;
}

#birdicon, #fishicon, #benthicicon {
  font-size: 50px;
  color: steelblue;
}

#selectLocation {
  display: none;
}

#selectSpecies {
  margin-bottom: -200px;
  width: 12%;
  border-radius: 50px;
  border: 1px solid #AAAAAA;
  position: absolute;
  background-color: #89cff0;
  color: white;
  border-color: blue;
  border-style: none;
  font-size: 1.5em;
  font-weight: bold;
  text-align-last: center;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.yo {
  z-index: -1;
}

hr {
  background-color: #0077be;
}

.tooltip {
  z-index: 1;
}
